<div class="container">

    <form class="form-inline">
        <div class="form-group">
            <select class="form-control" ng-model="from">
                <option value="">Vælg fra lufthavn</option>
                <option value="CPH">CPH</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="to">
                <option value="">Vælg til lufthavn</option>
                <option value="">Alle</option>
                <option value="SXF">SXF</option>
                <option value="STN">STN</option>
            </select>
            <!--<input type="text" maxlength="3" class="form-control" placeholder="SXF" ng-model="to">-->
        </div>
        <div class="form-group">
            <!--            <select class="form-control" ng-model="date">
                            <option value="">Vælg dato</option>
                            <option ng-repeat="f in mydata.flights" value="{{f.date}}">{{f.date}}</option>
                        </select>-->
            <input type="text" class="form-control" placeholder="Dato" ng-model="date">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Antal personer" ng-model="persons">
        </div>

        <button type="submit" class="btn btn-success" ng-click="searchFlights()">Søg</button>

    </form>

    <p style="margin-top:10px;"><b>Test datoer</b></p>
    <ul>
        <li><a href="" ng-click="paste('2016-01-07')">2016-01-07</a></li>
        <li><a href="" ng-click="paste('2016-01-04')">2016-01-04</a></li>
    </ul>

    <hr>

    <div class="list-group" ng-show="showlist" ng-repeat="a in airlines" >
        <a href="" class="list-group-item active">
            <h4 class="list-group-item-heading">{{a.airline}}</h4>
        </a>
        <div class="list-group-item" ng-repeat="d in a.flights">
            <p><b>Fra:</b> {{d.origin}}</p>
            <p><b>Til:</b> {{d.destination}}</p>
            <p><b>Dato:</b> {{d.date.slice(0,10)}}</p>
            <p><b>Antal pladser tilbage:</b> {{d.numberOfSeats}}</p>
            <p><b>Rejsetid:</b> {{d.traveltime}} min.</p>
            <p><b>Total Pris:</b> {{d.totalPrice}}</p>
            
            <button type="button" style="margin-top: 10px;" class="btn btn-success">Reserver</button>
            
        </div>
    </div>

    <div class="alert alert-danger" role="alert" ng-show="alert">Fejl! Prøv venligst igen.</div>

</div>